#container {
  max-width: 1000px;
  text-align: center;
}
#container header {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container header img {
  margin: 20px;
  position: absolute;
  left: 0px;
  top: 20px;
}
#container header h1 {
  font-size: 45px;
}
