html {
    
    #container {

    max-width: 1000px;
    text-align: center;
    
    
        header {
        background-color: green;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
            margin: 20px;
            position: absolute;
            left: 0px;
            top: 20px;
        }
    }
    
        article {
            border: 2px dashed black;
            border-radius: 15%;
            margin: 10px;
            padding: 10px;
        }
    }  
}




